<!-- Call to action Start -->
<section id="call-to-action" style="background-image: url('{{ .Site.Params.call.bgImage | absURL }}');">
  {{ with .Site.Params.call }}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>{{ .title }}</h2>
          <p>{{ .paragraph }}</p>
          
          <a class="btn btn-main btn-solid-border" href="https://commerce.arryved.com/location/BOM6t0f0">Order Online</a>
          
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}