<!-- Header Start -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!-- header Nav Start -->
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{{ .Site.BaseURL }}">
                <img src="{{ .Site.BaseURL }}img/BBwMountainsOnTrans.png" alt="{{ .Site.Title }} Logo" width=150>
              </a>
            </div>
            

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navigation">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ .Site.BaseURL }}">{{ .Site.Params.home }}</a></li>
                {{ range .Site.Menus.header }}
                <li><a href="{{ .URL | absURL }}">{{ .Name }}</a></li>
                {{ end }}
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
      </div>
    </div>
  </div>
</header><!-- header close -->