<!DOCTYPE html>
<html lang="en">
<head>
	{{ partial "head.html" . }}
</head>
<body>

	{{ partial "header.html" . }}
	
	{{ if isset .Params "id" }}
		{{ partial .Params.id . }}
	{{ else }}
		<main>{{ .Content }}</main>
	{{ end }}

	{{ if and (isset .Site.Params "call") (.Site.Params.call.enable) }}
		{{ partial "call-to-action.html" . }}
	{{ end }}

	{{ partial "footer.html" . }}

	
</body>
</html>