{{ if .Site.Params.slider.enable }}
{{ "<!-- Slider Start -->" | safeHTML}}
<section id="slider" style="background-image: url('{{.Site.Params.slider.bgImage | absURL }}');">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="block text-center">
                    <h1 class="animated fadeInUp text-uppercase">{{ .Site.Params.slider.title | safeHTML }}</h1>
                    <p class="animated fadeInUp">{{ .Site.Params.slider.subtitle | safeHTML }}</p>
                    <a class="btn btn-main btn-solid-border" href="{{ .Site.Params.slider.url | absURL }}" >{{ .Site.Params.slider.btnText }}</a>
                    <a class="btn btn-main btn-solid-border" href="https://commerce.arryved.com/location/BOM6t0f0" >Order Takeout</a>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}