{{ partial "global-header.html" . }}

<div class="container">
  <!-- Header -->
  <div class="row">
    <div class="section-title text-center">
      <h2>House Beers</h2>
      <div>Last Updated {{ dateFormat "Monday, Jan 2, 2006" now }}</div>
      <h3>Prices are for 16oz pints and 32oz Crowlers respectively.</h3>
      <a class="btn btn-main" href="https://commerce.arryved.com/location/BOM6t0f0">Order Online</a>
    </div>
    <div class="col-md-6">
      {{ range .Site.Data.beers.house_beers }}
      <div class="block">
        <h2>{{ .name }}</h2>
        <p>{{ .subtitle }} - <span style='font-style: italic;'>{{ .abv }}%</span> - <span class='bold'>${{ .price }}</span></p>
        <span>{{ .description }}</span>
        {{ if .log }}
        <a href='{{ .log }}'>Brew Log</a>
        {{ end }}
      </div>
      {{ end }}
    </div>
    <div class="col-md-6">
      <div class="block">
        <h2>Kombucha</h2>
        {{ range .Site.Data.beers.kombucha }}
        <div class="block">
          <h2>{{ .name }}</h2>
          <p>{{ .subtitle }} - <span style='font-style: italic;'>0.5%</span> - <span class='bold'>${{ .price }}</span></p>
          <span>{{ .description }}</span>
        </div>
        {{ end }}
      </div>
    </div>

  </div>
  <div>&nbsp;</div>
</div>
