{{ partial "global-header.html" . }}
<!-- About Start -->
<section id="intro">
  <div class="container">
    <!-- Intro -->
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>Now Hiring!</h2>
            <p>
              Busey Brews is hiring!
            </p>
          </div>
        </div>
        <p>
          Busy Nederland restaurant and brewery hiring for full and part time
          positions. We are a team oriented, fast paced environment. Experience
          not required as we will provide training.
        </p>
        <p>Email resumes to <strong>careers (at) buseybrews (dot) com</strong>.</p>
        <p>We are currently looking for the following positions:</p>

        <h1>FOH</h1>

        <h4>Host</h4>
        <p>
          Greets guests, organizes wait list and helps to clean and sanitize
          tables throughout the shift. May also be trained to answer the phone,
          and place orders depending on age and experience.
        </p>

        <h4>Server</h4>
        <p>
          Shows teamwork skills and excellent customer service. Responsible for
          order taking both at the table and on the phone/at the window,
          delivering and packaging food, and handling cash/credit cards. This is
          a shared tip position with the rest of the FOH staff.
        </p>

        <h4>Bartender</h4>
        <p>
          Responsible for making and delivering drinks, beers and also taking
          tables depending on the level of staff on the shift. Shows teamwork
          skills and excellent customer service. Responsible for order taking
          both at the table and on the phone/at the window, delivering and
          packaging food, and handling cash/credit cards. This is a shared tip
          position with the rest of the FOH staff.
        </p>

        <h1>BOH</h1>

        <h4>Line Cook</h4>
        <p>
          Works in a fast paced and well communicated environment with team
          members. Ability to multi-task and prioritize a plus. All team members
          share tips from the FOH staff and are expected to work either
          independently or with a teammate on any given shift. Ability to stock
          well before and after shift, as well as maintain a clean environment a
          must.
        </p>

        <h4>Prep Cook</h4>
        <p>
          Flexible schedule either early mornings or afternoons. Must keep track
          of what is selling and what to prep next and also be able to help the
          line cooks with stocking/sides and sauces. You will work with lots of
          meat, therefore not a great choice for those who may be sensitive to
          that.
        </p>

        <h4>Dishwasher/Line Support</h4>
        <p>
          Responsible for cleaning dishes from front and back of house. Must
          maintain proper chemical levels in the dish machines and keep a clean
          kitchen area. Will assist the line cooks with running foods/sauces up
          and down the stairs as needed. This position will be able to train for
          line cook after a proven amount of time.
        </p>

        <h1>Brewery</h1>

        <h4>Assistant Brewer</h4>
        <p>
          Works with head brewer to clean, organize, clean, carry heavy things,
          clean, and brew beer while increasing knowledge of brewing and tasting
          beer. Follow Standard Operating Procedures and maintaining a clean
          workspace is a must. Must be 21 or older. Brewing experience required.
        </p>
      </div>
    </div>
  </div>
</section>
