{{ partial "global-header.html" . }}

<!-- About Start -->
<section id="intro">
  <div class="container">

    <!-- Intro -->
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>Busey Brews For Good</h2>
            <p>Busey Brews is proud to announce the start of our charity fundraising program!</p>
          </div>
        </div>
        <h3>Total Raised to Date: $6674</h3>
        <p>Each month we feature a charity to support through a fundraiser at our brewery. We feature a house made beer on our menu from which a portion of the proceeds will be donated to that month's featured cause.</p>
        <p>Thank you for helping us support these great causes!</p>
        <p><strong>Past Charities</strong>
          <ul>
            <li>Feb 2021 - $459 - Nederland Area Trails Organization</li>
            <li>May 2021 - $186 - <a href='https://www.coloradohealingfund.org/boulder-king-soopers-tragedy/' target='_new'>Colorado Healing Fund</a></li>
            <li>Apr 2021 - $190 - Mountain Paws Petcare Fund</li>
            <li>Mar 2021 - $327 - Nederland Teen Center</li>
            <li>Feb 2021 - $194 - <a href='https://thebridgehouse.org/' target='_new'>The Bridge House</a></li>
            <li>Jan 2021 - $417 - <a href='https://consciousalliance.org/' target='_new'>Conscious Alliance</a></li>
            <li>Nov-Dec 2020 - $461 - <a href='https://www.commfound.org/2020firesfund' target='_new'>Community Foundation 2020 Fires Relief Fund</a></li>
            <li>Oct 2020 - $754 - <a href='https://www.safehousealliance.org/' target='_new'>SPAN - Safehouse Progressive Alliance for Nonviolence</a></li>
            <li>Sep 2020 - $785 - <a href='https://www.waterforpeople.org/' target='_new'>Water For People</a></li>
            <li>Aug 2020 - $762 - <a href='https://boulderhumane.org/' target='_new'>Boulder Humane Society</a></li>
            <li>Jul 2020 - $663 - <a href='https://communitycycles.org/' target='_new'>Community Cycles</a></li>
            <li>Jun 2020 - $517 - Nederland Fire Protection District</li>
            <li>May 2020 - $155 - <a href='https://www.lhbfoundation.org/coloradostrong/' target='_new'>Colorado Strong Fund</a></li>
            <li>Apr 2020 - $37 - <a href='https://nederlandfoodpantry.org/' target='_new'>Nederland Food Pantry</a></li>
            <li>Mar 2020 - $158 - <a href='https://www.redcross.org.au/campaigns/disaster-relief-and-recovery-donate' target='_new'>Australian Red Cross - Wildfire Relief Fund</a></li>
            <li>Feb	2020 - $312.95 - Nederland 6th grade High Trail Group</li>
            <li>Feb	2020 - $293 - <a href='https://www.hispanicfederationunidos.org/donate-now-earthquake-emergency' target='_new'>Hispanic Federation - Puerto Rico Earthquake Relief</a></li>
          </ul>
          </p>
        <p>Please email charity@buseybrews.com with suggestions, comments, or questions.</p>
      </div>
      <div class="col-md-5 col-sm-12">
        <div class="block"><img src="/img/CharityPromo.jpg" alt="Charity promo"></div>
      </div>
    </div>
  </div>
</section>