{{ partial "global-header.html" . }}

<!-- About Start -->
<section id="intro">
  <div class="container">
    <!-- Intro -->
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>Busey Brews Neighborhood Delivery Days</h2>
            <p>We are no longer providing neighborhood delivery.</p>
          </div>
        </div>
        <p>Delivery in town is still available. Thanks for your support!</p>
      </div>
      <div class="col-md-5 col-sm-12">
        <div class="block"><img src="/img/2020-04-04-DeliveryDays.png" alt="Delivery Areas."></div>
      </div>
    </div>
  </div>
</section>
