{{ partial "global-header.html" . }}
<div id='menuShield' style='position: fixed; top: 9em; width: 100%; height: 100%; opacity: 0;'></div>
<iframe style="width:100%" src="https://docs.google.com/presentation/d/e/2PACX-1vRoS9sHRXiEieu5zyvf6DdgIeV6Kut6Z4xyZfqtkKRta_1IzTRigDBBPGYoMR3U_Nfl54qT-pCt7bmy/embed?start=false&loop=false&delayms=30000" frameborder="0" width="816" height="1085" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>

