<div class="col-md-4 col-sm-6 col-xs-12">
  <div class="pricing-item text-center">
    <div class="price-title">
      <h3>{{ .name }}</h3>
      <img class="product__image" src="{{ .image_url }}" alt="" />
      <strong class="value">${{ .price }}</strong>
      <p>{{ .description }}</p>
    </div>

    <button
      class="btn btn-small snipcart-add-item buy-button"
      data-item-id="{{ .id }}"
      data-item-name="{{ .name }}"
      data-item-price="{{ .price }}"
      data-item-url="{{ .product_url }}"
      data-item-description="{{ .description }}"
      data-item-weight="{{ .weight }}"
      data-item-height="{{ .height }}"
      data-item-width="{{ .width }}"
      data-item-length="{{ .length }}"
      {{ if .custom1name }}data-item-custom1-name="{{ .custom1name }}"
      data-item-custom1-options="{{ .custom1options }}"{{ end }}
      {{ if .custom2name }}data-item-custom2-name="{{ .custom2name }}"
      data-item-custom2-options="{{ .custom2options }}"{{ end }}
    >
      Add to cart
    </button>
  </div>
</div>
