{{ partial "global-header.html" . }}

<section class="pricing-table section bg-gray">
  <div class="container">
    <button class="snipcart-checkout btn btn-large">View Cart</button>
    <!-- Header -->
    <div class="row">
      {{ range .Site.Data.products }} {{ partial "product.html" . }} {{ end }}
    </div>
    <button class="snipcart-checkout btn btn-large">View Cart</button>
  </div>
</section>
